{% extends 'base.html' %}
{% block title %}My Blog {% endblock %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid">
  <div class="row mt-3">
    <div class="intro-main col-md-9">
      <h3 class="text-center mt-5">সদস্য ভর্তি ফর্ম</h3>
      <hr>
      <div class="register-form pl-3 mx-4">
        <form action="{% url 'admission_form' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}

          <div class="row">
            <div class="col-md-6">{{ member_form.full_name|as_crispy_field }}</div>
            <div class="col-md-6">{{ user_form.email|as_crispy_field }}</div>
          </div>

          <div class="row">
            <div class="col-md-6">{{ member_form.father_name|as_crispy_field }}</div>
            <div class="col-md-6">{{ member_form.mother_name|as_crispy_field }}</div>
          </div>

          <div class="row">
            <div class="col-md-6">{{ member_form.passport|as_crispy_field }}</div>
            <div class="col-md-6">{{ member_form.date_of_birth|as_crispy_field }}</div>
          </div>

          <div class="row">
            <div class="col-md-6">{{ member_form.phone|as_crispy_field }}</div>
            <div class="col-md-6">{{ member_form.member_type|as_crispy_field }}</div>
          </div>

          <div class="row">
            <div class="col-md-6">{{ member_form.zilla|as_crispy_field }}</div>
            <div class="col-md-6">{{ member_form.upazilla|as_crispy_field }}</div>
          </div>

          <div class="row">
            <div class="col-md-6">{{ member_form.country|as_crispy_field }}</div>
            <div class="col-md-6">{{ member_form.image|as_crispy_field }}</div>
          </div>

          <div class="row">
            <div class="col-md-6">{{ user_form.password1|as_crispy_field }}</div>
            <div class="col-md-6">{{ user_form.password2|as_crispy_field }}</div>
          </div>

          <div class="row ml-2">
            {{ member_form.is_agreed|as_crispy_field }}


            <!-- Button trigger modal -->
            <span id="agreementBtn" type="button" style="cursor: pointer;" data-toggle="modal"
              data-target="#exampleModalLong">

            </span>

            <!-- Modal -->
            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header text-center">
                    <h5 class="modal-title" id="exampleModalLongTitle">অঙ্গীকারনামা</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    আমি এই সামাজিক সংগঠনের লক্ষ্য উদ্দেশ্যের সঙ্গে সম্পূর্ণরূপে একমত পোষণ করছি। বৃহত্তর চান্দলা প্রবাসী
                    ইসলামি সমাজ কল্যাণ পরিষদ যে সামাজিক কর্মকান্ড চালিয়ে যাচ্ছে তাতে আমি সম্ভাব্য সকল প্রকার সহযোগিতা
                    করবো । আমার উপর অর্পিত দায়িত্ব যথাযথভাবে পালন করার সর্বোচ্চ চেষ্টা করবো। এই সংগঠনের বিধিমালা
                    যথাযথভাবে মেনে চলবো। সর্বোপরি, বৃহত্তর চান্দলা প্রবাসী ইসলামি সমাজ কল্যাণ পরিষদ যে সামাজিক
                    কর্মকান্ড চালিয়ে যাচ্ছে তাতে আমি সম্ভাব্য সকল প্রকার সহযোগিতা করবো এবং আমার উপর অর্পিত দায়িত্ব সততা
                    ও স্বচ্ছতার সঙ্গে পালন করিব। এই সংগঠনকে ঐক্যবদ্ধ রেখে সকলকে সাথে নিয়ে কার্য পরিচালনার জন্য সচেষ্ট
                    থাকিব। আমি আল্লাহ তায়ালার সন্তুষ্টির উদ্দেশ্যে এই সংগঠনের সকল কার্যক্রম নিষ্ঠার সাথে পালন করবো
                    ইনশাআল্লাহ। আল্লাহ তাআলা আমাকে এই ওয়াদা পালন করার জন্য তৌফিক দান করুন। আমিন।।
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-end">
            <button id="submitBtn" class="btn bg-navy-blue text-white btn-lg btn-block my-3"
              type="submit">রেজিস্টার</button>
          </div>
        </form>
      </div>
    </div>
    <div class="intro-right col-md-3">
      <h6>Bruchurms</h6>
      <div class="member-login">
        <!-- login -->
        {% include "snippets/member_login.html" %}
      </div>
      <div class="notice-board">
        <!-- notice board -->
        {% include "snippets/notice_board.html" %}
      </div>
      <div class="visitor-count">
        <!-- visitor count -->
        {% include "snippets/visitor_count.html" %}
      </div>
    </div>
  </div>

</div>


<script src="{% static 'js/admission_form.js' %}"></script>
{% endblock content %}