{% extends 'base.html' %}
{% block title %}General Member {% endblock %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <!-- brudcrumb -->
    <div class="row breadcrumb p-2">
        <div class="col-md-8">
            <h5>প্রতিষ্ঠাতা সদস্য</h5>
        </div>
        <div class="col-md-4">
            <h6>You are here: <a href="{% url 'home' %}">হোম >></a> প্রতিষ্ঠাতা সদস্য</h6>
        </div>
    </div>

    <div class="row">
        <div class="col-8">
            <div class="row">
                <!-- founding members -->
                <div class="col-12">
                    <h4 class="text-center mb-4">প্রতিষ্ঠাতা সদস্যের তালিকা</h4>
                    {% include "snippets/member_list.html"  with members=members %}
                </div>
            </div>
        </div>
        <div class="col-4"></div>
    </div>

</div>



{% endblock content %}