{% extends 'base.html' %}
{% block title %}General Member {% endblock %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <div class="row">
                <!-- general members -->
                <div class="col-12">
                    <h4 class="text-center mb-4">সাধারন সদস্যের তালিকা</h4>
                    {% include "snippets/member_list.html"  with members=members %}
                </div>
            </div>
        </div>
        <div class="col-4"></div>
    </div>

</div>



{% endblock content %}