{% extends 'base.html' %}
{% block title %}My Blog {% endblock %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <!-- brudcrumb -->
    <div class="row breadcrumb p-2">
        <div class="col-md-8">
            <h5>কিভাবে সদস্য হবেন</h5>
        </div>
        <div class="col-md-4">
            <h6>You are here: <a href="{% url 'home' %}">হোম >></a> কিভাবে সদস্য হবেন</h6>
        </div>
    </div>

    <div class="row">
        <div class="intro-main col-md-9">
            <h4>কিভাবে বৃহত্তর চান্দলা প্রবাসী ইসলামি সমাজ কল্যাণ পরিষদ এর সদস্য হবেনঃ</h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    ১. অনলাইনে সংস্থার ওয়েবসাইটের মাধ্যমে www.bcpiskp.org  সদস্য ফরম পূরণ করে অথবা সংস্থার ওয়েবসাইট থেকে সদস্য ফরম সংগ্রহ করে তা যথাযথ ভাবে পূরণ করে আবেদন করতে হবে।
                </li>
                <li class="list-group-item">
                    ২. সংস্থা কর্তৃক নির্ধারিত মেসেঞ্জার গ্রুপে কোন একজন বর্তমান সদস্যদের মাধ্যমে আবেদন করতে হবে।
                </li>
                <li class="list-group-item">
                    ৩. কার্য্নির্বাহী পরিষদ সভায় গৃহিত প্রস্তাব অনুযায়ী সদস্য পদের আবেদন পত্র মঞ্জুর/ খারিজ হবে।
                </li>
                <li class="list-group-item">
                    ৪. কার্যনির্বাহী পরিষদের সভায় সদস্য পদের জন্য আবেদনকারী ব্যাক্তির নাম সংস্থার সদস্য হিসেবে  গন্য করা হলে ৩ (তিন) দিনের মধ্যে সংশ্লিষ্ট ব্যক্তিকে বিষয়টি অবহিত করতে হবে।
                </li>
                <li class="list-group-item">
                    ৫. আবেদনপত্র গৃটাকা পরিশোধ করে সংস্থার সদস্যভুক্ত হতে হবে।
                </li>
            </ul>
        </div>
        <div class=" intro-right col-md-3">
            <div class="member-login">
                <!-- login -->
                {% include "snippets/member_login.html" %}
            </div>
            <div class="notice-board">
                <!-- notice board -->
                {% include "snippets/notice_board.html" %}
            </div>
            <div class="visitor-count">
                <!-- visitor count -->
                {% include "snippets/visitor_count.html" %}
            </div>
        </div>
    </div>

</div>



{% endblock content %}