{% extends 'base.html' %}
{% block title %}Member List {% endblock %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <div class="row">
                <!-- lifetime members -->
                <div class="col-12">
                    <h4 class="text-center mb-4">প্রতিষ্ঠাতা সদস্যের তালিকা</h4>
                    {% include "snippets/member_list.html"  with members=founding_members %}

                    <!-- <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="bg-blue">
                                <tr>
                                    <th>ছবি</th>
                                    <th>নাম</th>
                                    <th>জেলা</th>
                                    <th>দেশ</th>
                                    <th>মোবাইল নম্বর</th>
                                    <th>এ্যাকশন</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for member in founding_members %}
                                <tr>
                                    <td>
                                        <img class="img-thumbnail member-list-imge"
                                            src="{% if member.image %} {{member.image.url}} {%else%} {% static 'img/default_member.png' %} {% endif %}"
                                            alt="{{member.name}}">
                                    </td>
                                    <td>{{ member.full_name }}</td>
                                    <td>{{ member.zilla }}</td>
                                    <td>{{ member.country }}</td>
                                    <td>{{ member.phone }}</td>
                                    <td>
                                        <a class="btn btn-info btn-sm text-white"
                                            href="{% url 'member_detail' member.pk %}">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div> -->
                </div>
                <!-- lifetime members -->
                <div class="col-12 mt-5">
                    <h4 class="text-center mb-4">আজীবন সদস্যের তালিকা</h4>
                    {% include "snippets/member_list.html"  with members=lifetime_members %}
                    <!-- <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="bg-blue">
                                <tr>
                                    <th>ছবি</th>
                                    <th>নাম</th>
                                    <th>জেলা</th>
                                    <th>দেশ</th>
                                    <th>মোবাইল নম্বর</th>
                                    <th>এ্যাকশন</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for member in lifetime_members %}
                                <tr>
                                    <td>
                                        <img class="img-thumbnail member-list-imge"
                                            src="{% if member.image %} {{member.image.url}} {%else%} {% static 'img/default_member.png' %} {% endif %}"
                                            alt="{{member.name}}">
                                    </td>
                                    <td>{{ member.full_name }}</td>
                                    <td>{{ member.zilla }}</td>
                                    <td>{{ member.country }}</td>
                                    <td>{{ member.phone }}</td>
                                    <td>
                                        <a class="btn btn-info btn-sm text-white"
                                            href="{% url 'member_detail' member.pk %}">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div> -->
                </div>
                <!-- general members -->
                <div class="col-12 mt-5">
                    <h4 class="text-center mb-4">সাধারন সদস্যের তালিকা</h4>
                    {% include "snippets/member_list.html"  with members=general_members %}
                    <!-- <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="bg-blue">
                                <tr>
                                    <th>ছবি</th>
                                    <th>নাম</th>
                                    <th>জেলা</th>
                                    <th>দেশ</th>
                                    <th>মোবাইল নম্বর</th>
                                    <th>এ্যাকশন</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for member in general_members %}
                                <tr>
                                    <td>
                                        <img class="img-thumbnail member-list-imge"
                                            src="{% if member.image %} {{member.image.url}} {%else%} {% static 'img/default_member.png' %} {% endif %}"
                                            alt="{{member.name}}">
                                    </td>
                                    <td>{{ member.full_name }}</td>
                                    <td>{{ member.zilla }}</td>
                                    <td>{{ member.country }}</td>
                                    <td>{{ member.phone }}</td>
                                    <td>
                                        <a class="btn btn-info btn-sm text-white"
                                            href="{% url 'member_detail' member.pk %}">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="col-4"></div>
    </div>

</div>



{% endblock content %}