{% extends 'base.html' %}
{% block title %}My Blog {% endblock %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <!-- brudcrumb -->
    <div class="row breadcrumb p-2">
        <div class="col-md-8">
            <h5>সদস্য হওয়ার যোগ্যতা</h5>
        </div>
        <div class="col-md-4">
            <h6>You are here: <a href="{% url 'home' %}">হোম >></a> সদস্য হওয়ার যোগ্যতা</h6>
        </div>
    </div>

    <h4></h4>
    <div class="row">
        <div class="intro-main col-md-9">
            <h4>সদস্যপদঃ</h4>
            <p>
                সমিতিতে ৩ ধরণের সদস্যপদ থাকিবে। যথা-
                <br />
                <strong class="mr-2">ক. সাধারণ সদস্যপদ</strong>
                <strong class="mr-2">খ. আজীবন সদস্যপদ</strong>
                <strong class="mr-2">গ. অনারারি সদস্য</strong>
            </p>
            <h4 class="mt-5">সমিতির সদস্য পদের যোগ্যতা ও শর্তঃ</h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    (ক) জন্মসূত্রে বাংলাদেশী নাগরিক এবং ব্রাহ্মণপাড়া উপজেলাধীন বৃহত্তর চান্দলার স্থায়ী বাসিন্দা,
                    যিনি পরিষদের নীতিমালার সাথে একমত পোষন করেন তিনি  নিম্নে বর্ণিত শর্তে এ সংস্থার সদস্য হতে পারবেন।
                </li>
                <li class="list-group-item">
                    (খ) নূন্যতম ১৮ (আঠার) বছর বয়ষ্ক এবং প্রবাসি হতে হবে।
                </li>
                <li class="list-group-item">
                    (গ) ভদ্র, রুচিশীল, উদ্যোমী, সদাচারী ও মননশীল হতে হবে।
                </li>
                <li class="list-group-item">
                    (ঘ) যারা স্বেচ্ছাব্রতী মনোভাবাপন্ন এবং নিজেদের তথা দেশের ও
                    এলাকার উন্নয়নে কাজ করার লক্ষ্যে সমাজ উন্নয়নমূলক বিভিন্ন সৃজনশীল কাজে সম্পৃক্ত কিংবা সম্পৃক্ত হতে ইচ্ছুক এবং নৈতিকতা বিরোধী কোনো কার্যক্রমে লিপ্ত নয়।
                </li>
                <li class="list-group-item">
                    (ঙ) উন্নত নৈতিক চরিত্রের অধিকারী হতে হবে (আদালত কর্তৃক সাজাপ্রাপ্ত নহে)
                </li>
                <li class="list-group-item">
                    (চ) সংস্থার আদর্শ ও উদ্দেশ্য এবং গঠনতন্ত্রের প্রতি অনুগত হতে হবে।
                </li>
                <li class="list-group-item">
                    (ছ) অসহায় দুঃখী-দরিদ্র মানুষের সেবা করার মানসিকতা থাকতে হবে।
                </li>
                <li class="list-group-item">
                    (জ) প্রত্যেক সদস্যকে ভর্তি ফি পরিশোধ এবং প্রতি মাসে সংগঠন কর্তৃক মাসিক ধার্যকৃত চাঁদা জমা দিতে হবে।
                </li>
                <li class="list-group-item">
                    (ঝ) যারা নিজেদের মেধার সর্বোচ্চ বিকাশে প্রতিশ্রুতিবদ্ধ এবং একটি ক্ষুধামুক্ত ও আত্মনির্ভরশীল সমাজ ও এলাকা গঠনে বিশেষ ভূমিকা রাখতে আগ্রহী।
                </li>
                <li class="list-group-item">
                    (ঞ) সংস্থার অর্পিত দায়িত্ব সক্রিয় ভাবে পালন করতে হবে।
                </li>
                <li class="list-group-item">
                    (ট) জাতীয় আইন বিরোধী, উক্ত দেশের রাষ্ট্রীয় আইন বিরুদ্ধি এবং ইসলাম সমর্থন করে না এমন কোনো কাজে লিপ্ত থাকা যাবে না।
                </li>
                <li class="list-group-item">
                    (ঠ) সমাজকল্যাণ ও মানব সেবায় নিবেদিত হতে হবে।
                </li>
                <li class="list-group-item">
                    (ড) সুস্থ মস্তিষ্কের অধিকারী হতে হবে (পাগল ও উম্মদ নহে)।
                </li>
                <li class="list-group-item">
                    (ঢ) সততা ও কল্যাণের মাধ্যমে সমাজে শান্তি প্রতিষ্ঠা এবং মঙ্গলকামী ব্যাক্তিদের একত্রিত করার লক্ষ্যে কাজ করতে হবে।
                </li>
            </ul>
        </div>
        <div class="intro-right col-md-3">
            <div class="member-login">
                <!-- login -->
                {% include "snippets/member_login.html" %}
            </div>
            <div class="notice-board">
                <!-- notice board -->
                {% include "snippets/notice_board.html" %}
            </div>
            <div class="visitor-count">
                <!-- visitor count -->
                {% include "snippets/visitor_count.html" %}
            </div>
        </div>
    </div>

</div>



{% endblock content %}