<footer class="bg-navy-blye pt-5">
	<div class="container-fluid pb-2">
		<div class="row">
			<div class="col-md-3">
				<h4 class="border-bottom pb-1 mb-3">Contact Details</h4>
				<h6 class="text-info">প্রধান কার্যালয়ঃ</h6>
				<address>
					চান্দলা <br>
					ব্রাহ্মণ পাড়া, কুমিল্লা।<br>
					<strong><i class="fa fa-envelope text-info mr-2"></i></strong> brihattarchandlaipskp@gmail.com <br>
					<strong><i class="fa fa-phone text-info mr-2"></i></strong> +৮৮ ০১৮৩৫১০২৬৭২
				</address>
			</div>
			<div class="col-md-3">
				<h4 class="border-bottom pb-1 mb-3">IMPORTANT LINK</h4>
				<ul class="list-group-flush">
					<li class="list-group-items">
						<i class="far fa-hand-point-right"></i>
						<a href="https://www.bdjobs.com/" class="text-light" target="_blank"
							rel="noopener noreferrer">www.bdjobs.com</a>
					</li>
					<li class="list-group-items">
						<i class="far fa-hand-point-right"></i>
						<a href="https://kormo.google.com/" class="text-light" target="_blank"
							rel="noopener noreferrer">kormo.google.com</a>
					</li>
					<li class="list-group-items">
						<i class="far fa-hand-point-right"></i>
						<a href="https://www.glassdoor.com/index.htm" class="text-light" target="_blank"
							rel="noopener noreferrer">www.glassdoor.com</a>
					</li>
				</ul>
			</div>
			<div class="col-md-3">
				<h4 class="border-bottom pb-1 mb-3">Registration</h4>
				<div class="mb-3">
					<a href="" class="text-white">
						<i class="far fa-hand-point-right mr-2"></i>
						সদস্য ফর্ম
					</a>
				</div>
			</div>
			<div class="col-md-3">
				<h4 class="border-bottom pb-1 mb-3">BANK DETAILS</h4>
				<div class="mb-3">
					<h6 class="text-info">বাংলাদেশ কৃষি ব্যাংক লিমিটেড (ছোনটিয়া বাজার শাখা)</h6>
					হিসাব নামঃ বৃহত্তর চান্দলা প্রবাসী ইসলামি সমাজ কল্যাণ পরিষদ <br>
					হিসাব নাম্বারঃ ২৪৯৩৬ (সঞ্চয়ী হিসাব)
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom bg-dark-blue">
		<div class="container-fluid py-1 text-center py-2">
			©{% now 'Y' %} Copyrights <a href="http://127.0.0.1:8000/" class="text-light"><strong>BCPISKP</strong></a> |
			All rights Reserved
		</div>
	</div>
</footer>