<footer class="bg-navy-blye pt-5">
	<div class="container-fluid pb-2">
		<div class="row">
			<div class="col-md-3">
				<h4 class="border-bottom pb-1 mb-3">Contact Details</h4>
				<h6 class="text-info">প্রধান কার্যালয়ঃ</h6>
				<address>
					নিপা-নাহিদ সুপার মার্কেট, <br>
					রুম নং-২ ও ৩ (নিচতলা),
					মাতারপাড়া রোড, ছোনটিয়া বাজার, জামালপুর।<br>
					<strong><i class="fa fa-envelope text-info mr-2"></i></strong> info@cssljamalpur.com <br>
					<strong><i class="fa fa-phone text-info mr-2"></i></strong> ০১৭১৩৫৯১৮৭০
				</address>
				<div class="div">
					<h6 class="text-info">পরিকল্পনা ও বর্ণবিন্যাসঃ</h6>
					মোহাম্মদ খায়রুল হাসান <br>
					সাংগঠনি সম্পাদক <br>
					চাকরিজীবী সমবায় সমিতি লিমিটেড
				</div>
			</div>
			<div class="col-md-3">
				<h4 class="border-bottom pb-1 mb-3">IMPORTANT LINK</h4>
				<ul>
					<li><a class="text-white" href="http://www.jamalpur.gov.bd/">www.jamalpur.gov.bd</a></li>
					<li><a class="text-white" href="http://www.jamalpur.gov.bd/">www.jamalpur.gov.bd</a></li>
					<li><a class="text-white" href="http://www.jamalpur.gov.bd/">www.jamalpur.gov.bd</a></li>
					<li><a class="text-white" href="http://www.jamalpur.gov.bd/">www.jamalpur.gov.bd</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<h4 class="border-bottom pb-1 mb-3">Registration</h4>
				<div class="mb-3">
					<h6 class="text-info">সমাজকল্যাণ মন্ত্রণালয়</h6>
					সমাজসেবা অধিদপ্তর <br>
					<span>নিবন্ধন নম্বরঃ</span> <br>
				</div>
				<div class="mb-3">
					<h6 class="text-info">সমবায় সমিতি</h6>
					<span>নিবন্ধন নম্বরঃ </span> জাম-১৪/১৮ খ্রিঃ<br>
				</div>
				<div class="mb-3">
					<h6 class="text-info">বাণিজ্য মন্ত্রণালয়</h6>
					যৌথমূলধন কোম্পানি ও
					ফার্মসমূহের নিবন্ধকের কার্যালয় <br>
					নিবন্ধন নম্বরঃ
				</div>
			</div>
			<div class="col-md-3">
				<h4 class="border-bottom pb-1 mb-3">BANK DETAILS</h4>
				<div class="mb-3">
					<h6 class="text-info">ডাচ-বাংলা ব্যাংক লিমিটেড (দিগপাইত শাখা)</h6>
					হিসাব নামঃ চাকরিজীবী সমবায় সমিতি লিমিটেড <br>
					হিসাব নাম্বারঃ ২০০.১৫১.১১৮৪৪৯
				</div>
				<div class="mb-3">
					<h6 class="text-info">বাংলাদেশ কৃষি ব্যাংক লিমিটেড (ছোনটিয়া বাজার শাখা)</h6>
					হিসাব নামঃ চাকরিজীবী সমবায় সমিতি লিমিটেড <br>
					হিসাব নাম্বারঃ ২৪৯৩৬ (সঞ্চয়ী হিসাব)
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom bg-dark-blue">
		<div class="container-fluid py-1 text-center py-2 mb-3">
			©{% now 'Y' %} Copyrights CSSL | All rights Reserved
		</div>
	</div>
</footer>
