{% load static %}
	<footer class="container-fluid">
		<div class="footer-top container-fluid">
			<div class="row pt-4 d-flex flex-row justify-md-content-between">
				<div class="col-12 col-sm-6 col-md-4">
					<h4>CONTACT DETAILS</h4>
					<ul>
						<li><a href="#">One</a></li>
						<li><a href="#">Two</a></li>
						<li><a href="#">Three</a></li>
						<li><a href="#">Four</a></li>
						<li><a href="#">Five</a></li>
						<li><a href="#">Six</a></li>
					</ul>
				</div>

				<div class="col-12 col-sm-6 col-md-4">
					<h4>IMPORTANT LINK</h4>
					<ul>
						<li><a href="#">One</a></li>
						<li><a href="#">Two</a></li>
						<li><a href="#">Three</a></li>
						<li><a href="#">Four</a></li>
						<li><a href="#">Five</a></li>
						<li><a href="#">Six</a></li>
					</ul>
				</div>
				<div class="col-12 col-sm-6 col-md-4">
					<h4>REGISTRATION</h4>
					<ul>
						<li><a href="#">One</a></li>
						<li><a href="#">Two</a></li>
						<li><a href="#">Three</a></li>
						<li><a href="#">Four</a></li>
						<li><a href="#">Five</a></li>
						<li><a href="#">Six</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-center">
			<div class="top-menu d-flex flex-row justify-content-between">
				<!-- Top Menu Left Side  -->
				<div class="top-menu-left pl-2">
					<ul class="d-flex flex-row">
						<li><a href="#">হোম</a></li>
						<li><a href="#">পরিচিতি</a></li>
						<li><a href="#">সদস্য ভর্তি ফর্ম</a></li>
						<li><a href="#">সদস্যের তথ্যাবলি</a></li>
						<li><a href="#">সাধারন সদস্য</a></li>
						<li><a href="#">যোগাযোগ</a></li>
						<li><a href="#">জন্ম তারিখ</a></li>
						<li><a href="#">ওয়েব মেইল</a></li>
						<li><a href="#">ওয়েব এসএমএস</a></li>
					</ul>

				</div>
				<!-- /Top Menu Left Side  -->
				<!-- Top Menu Right Side  -->
				<div class="top-menu-right d-flex flex-row pr-2">
					<ul class="d-flex flex-row justify-content-between">
						<li><a href="#">icon1</a></li>
						<li><a href="#">icon2</a></li>
						<li><a href="#">icon3</a></li>
						<li><a href="#">icon4</a></li>
					</ul>
				</div>
				<!-- /Top Menu Right Side  -->
			</div>
		</div>
		<div class="footer-bottom">
			<div class="top-menu d-flex flex-row justify-content-between">
				<!-- Top Menu Left Side  -->
				<div class="top-menu-left pl-2">
					<ul class="d-flex flex-row">
						<li><a href="#">হোম</a></li>
						<li><a href="#">পরিচিতি</a></li>
						<li><a href="#">সদস্য ভর্তি ফর্ম</a></li>
					</ul>

				</div>
				<!-- /Top Menu Left Side  -->
				<!-- Top Menu Right Side  -->
				<div class="top-menu-right d-flex flex-row pr-2">
					<ul class="d-flex flex-row justify-content-between">
						<li><a href="#">icon1</a></li>
						<li><a href="#">icon2</a></li>
					</ul>
				</div>
				<!-- /Top Menu Right Side  -->
			</div>
		</div>
	</footer>
