{% load static %}

<header>
	<!-- Top Menu  -->
	<div class="bg-blue">
		<div class="text-center d-flex flex-wrap justify-content-center py-1">
			<div class="mr-2">
				<i class="fas fa-phone text-info"></i>
				+8801835102672
			</div>
			<div class="mr-2">
				<i class="fab fa-whatsapp text-info"></i>
				+966571804996
			</div>
			<div class="mr-2">
				<a class="text-white" href="mailto:brihattarchandlaipskp@gmail.com">
					<i class="fas fa-envelope text-info"></i>
					brihattarchandlaipskp@gmail.com
				</a>
			</div>
			<div>
				<i class="fas fa-map-marker-alt text-info"></i>
				চান্দলা, ব্রাহ্মণ পাড়া, কুমিল্লা।
			</div>
		</div>
	</div>
	<!-- /Top Menu  -->

	<!-- Logo Menu  -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="row logo-menu d-flex flex-column flex-md-row justify-content-md-between align-items-center">
					<!-- Logo Menu Left  -->
					<div class="logo-menu-left col-12 col-md-4">
						<!-- <img src="" alt="Logo"> -->
						<img class="img-fluid" src="{% static 'img/update_logo.png' %}" alt="Logo">
					</div>
					<!-- /Logo Menu Left  -->

					<!-- Logo Menu Right  -->
					<div class="logo-menu-right col-12 col-md-8">
						<div class="quran_ayat text-center text-md-right">
							<h5 class="ayat text-info">"
								তোমরা সবাই মিলে আল্লাহর রশি (কোরআন) -কে শক্ত করে আকড়েঁ ধরো এবং কখনো পরস্পর বিচ্ছিন্ন হয়ো
								নাহ।"
							</h5>
							<h6 class="source text-blue"><strong>- আল-কোরআন (০২ঃ১০৩)</strong></h6>
						</div>
					</div>
					<!-- Logo Menu Right  -->
				</div>
				<!-- Logo Menu  -->
			</div>
		</div>
	</div>
	<!-- Main Menu  -->
	<div class="main-menu">
		{% include "snippets/navbar.html" %}
	</div>
	<!-- /Main Menu  -->
</header>