{% load crispy_forms_tags %}

<div class="card border-0">
  <h5 class="login card-header bg-blue"> {% if request.user.is_authenticated %} স্বাগতম {% else %} সদস্যের লগইন
    {% endif %}
  </h5>

  <div class="card-body">
    {% if request.user.is_authenticated %}
    <p>স্বাগতম <strong>{{request.user.username}}</strong></p>

    {% else %}
    <form class='' action="{% url 'home' %}" method="post">
      {% csrf_token %}

      <!-- {{ login_form|crispy }} -->

      <div id="div_id_passport" class="form-group">
        <input type="text" name="passport" placeholder="পাসপোর্ট" class="textinput textInput form-control" required=""
          id="id_passport">
      </div>
      <div id="div_id_password" class="form-group">
        <input type="password" name="password" placeholder="পাসওয়ার্ড" class="textinput textInput form-control"
          required="" id="id_password">
      </div>

      <button type="submit" class="btn blue-btn btn-block mt-3">লগইন <i class="fas fa-sign-in-alt"></i></button>
    </form>
    {% endif %}
  </div>
</div>