	<div class="shadow">
		<!-- large screen menu -->
		<div class="menu--large-screen d-none d-lg-block bg-blue">
			<nav class="nav">
				{% include "./mainmenu.html" %}
			</nav>
		</div>

		<!-- mobile screen menu -->
		<div class="menu--small-screen d-lg-none">
			<button class="btn bg-blue" id="showMenu">
				<i class="fas fa-bars"></i>
			</button>
			<div class="mobile-menu bg-blue p-2 d-none shadow" id="mobileMenu">
				<button class="btn bg-blue border-white float-right mr-2 hide-menu" id="hideMenu">
					<i class="fas fa-times"></i>
				</button>
				{% include "./mainmenu.html" %}
			</div>
		</div>

	</div>