<h5 class="notice">নোটিশ বোর্ড</h5>
    <div class="accordion" id="accordionExample">
    {% for notice in notices %}
      <div class="card">
        <div class="card-header" id="heading{{notice.id}}">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse{{notice.id}}" aria-expanded="true" aria-controls="collapseOne">
              {{notice.title}}
            </button>
          </h2>
        </div>

        <div id="collapse{{notice.id}}"
             class="collapse {% if forloop.counter0 == 0 %} show {% endif %}"
             aria-labelledby="heading{{notice.id}}" data-parent="#accordionExample">
          <div class="card-body">
            {{notice.description}}
          </div>
        </div>
      </div>
    {% endfor %}
    </div>