<div class="card border-0">
  <h5 class="card-header bg-blue">নোটিশ বোর্ড</h5>
  <div class="card-body p-0 accordion" id="accordionExample">
    {% for notice in notices %}
    <div class="card border-0">
      <div class="card-header p-1 bg-white" id="heading{{notice.id}}">
        <a href="" class="px-2 py-2 d-block" type="button" data-toggle="collapse" data-target="#collapse{{notice.id}}"
          aria-expanded="true" aria-controls="collapseOne">
          <i class="far fa-hand-point-right"></i> {{notice.title}}
        </a>
      </div>

      <div id="collapse{{notice.id}}" class="collapse {% if forloop.counter0 == 0 %} show {% endif %}"
        aria-labelledby="heading{{notice.id}}" data-parent="#accordionExample">
        <div class="card-body">
          {{notice.description}}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>