{% extends 'base.html' %}
{% block title %}My Blog {% endblock %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="intro-main col-md-9">
            <p>
                <strong class="text-light-blue">বৃহত্তর চান্দলা প্রবাসী ইসলামি সমাজ কল্যাণ পরিষদ</strong> হল- সম্পূর্ণ
                স্বাধীন, সামাজিক, সেচ্ছাসেবী, সাংস্কৃতিক ও
                অসাম্প্রদায়িক মনোভাবাপন্ন সংগঠন। এই সংগঠন অন্য কোন সংগঠনের অঙ্গ-সংগঠন হিসেবে কাজ করবে না ।সমাজের
                দুস্থ-অসহায়
                মানুষের দোর গোড়ায় সেবা পৌছে দিয়ে বৈষম্য দূরীকরনের মাধ্যমে সমাজে ন্যায়, সততা, শান্তি ও ভ্রাতৃত্ববোধ
                প্রতিষ্ঠা করাই এই পরিষদের প্রধান কাজ।
            </p>

        </div>
        <div class="intro-right col-md-3">
            <div class="member-login">
                <!-- login -->
                {% include "snippets/member_login.html" %}
            </div>
            <div class="notice-board">
                <!-- notice board -->
                {% include "snippets/notice_board.html" %}
            </div>
        </div>
    </div>

</div>



{% endblock content %}