{% extends 'base.html' %}
{% block title %}My Blog {% endblock %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <!-- brudcrumb -->
    <div class="row breadcrumb p-2">
        <div class="col-md-8">
            <h5>পরিচিতি</h5>
        </div>
        <div class="col-md-4">
            <h6>You are here: <a href="{% url 'home' %}">হোম >></a> পরিচিতি</h6>
        </div>
    </div>

    <div class="row">
        <div class="intro-main col-md-9">
            <p class="mb-5">
                ইউনিয়নের চাকরিজীবীদের মধ্যে পারস্পরিক যোগাযোগ এবং সহমর্মিতা সৃষ্টির লক্ষে চাকরিজীবী কল্যাণ সমিতি,
                দিগপাইত ইউনিয়ন ১৪ সেপ্টেম্বর, ২০১৬ সালে মামুন স্মৃতি পাবলিক স্কুলে মোঃ ফজলুল হক, অতিরিক্ত সচিব, অর্থ
                মন্ত্রণালয় এর তত্ত্বাবধানে গঠিত হয়। পরবর্তিতে ২০১৮ সালে সমবায় মন্ত্রণালয়ের রেজিষ্ট্রেশনের মাধ্যমে
                চাকরিজীবী কল্যাণ সমিতি, দিগপাইত ইউনিয়ন- চাকরিজীবী সমবায় সমিতি লিমিটেড নামে যাত্রা শুরু করে। চাকরিজীবী
                কল্যাণ সমিতি,দিগপাইত ইউনিয়ন গঠনের সঠিক ইতিহাস সকলের জানার জন্য প্রথম সভার র্কাযববিরণী তুলে ধরা হলোঃ
            </p>

            <h4 class="mb-3 text-blue">দিগপাইত ইউনিয়নের চাকুরিজীবীদের ঈদ পূনর্মিলনী উপলক্ষে আয়োজিত সভার কার্যবিবরণী;
            </h4>

            <h5 class="text-blue">
                <i class="far fa-hand-point-right"></i>
                <strong class="mr-2">সভার তারিখ:</strong> ০৮-০৭-২০১৬ (প্রথম সভা)
            </h5>
            <h5 class="text-blue">
                <i class="far fa-hand-point-right"></i>
                <strong class="mr-2">রোজ:</strong> শুক্রবার
            </h5>
            <h5 class="text-blue">
                <i class="far fa-hand-point-right"></i>
                <strong class="mr-2">স্থান:</strong> মামুন স্মৃতি উচ্চ বিদ্যালয়, ছোনটিয়া বাজার সময়: সকাল ১০ ঘটিকা
            </h5>
            <h5 class="text-blue">
                <i class="far fa-hand-point-right"></i>
                <strong class="mr-2">সময়:</strong> সকাল ১০ ঘটিকা
            </h5>
            <p class="mt-3">মোঃ ফজলুল হক, অতিরিক্ত সচিব, অর্থ মন্ত্রণালয়, স্থায়ী ঠিকানা গোপিনাথপুর এর সভাপতিত্বে বর্ণিত
                সভা অনুষ্ঠিত
                হয়। সভায় নিম্নবর্ণিত চাকুরিজীবী ও ব্যক্তিবর্গ উপস্থিত ছিলেন:
            </p>

            <ul class="list-group list-group-flush mb-5">
                <li class="list-group-item">
                    ১. মোঃ ফজলুল হক, অতিরিক্ত সচিব, অর্থ মন্ত্রণালয়, ঢাকা, গোপিনাথপুর, মিরপাড়া।
                </li>
                <li class="list-group-item">
                    ২. মোঃ সোহরাব আলী, এজিএম. জনতা ব্যাংক লিঃ, পল্লী বিদ্যুতায়ন বোর্ড শাখা, ঢাকা, হরিদ্রাটা।
                </li>
                <li class="list-group-item">
                    ৩. মোঃ শহীদুল ইসলাম, রিজিওনাল ম্যানেজার, আশা, কাপাসিয়া,গাজীপুর, ডোয়াইলপাড়া।
                </li>
                <li class="list-group-item">
                    ৪. মোহাম্মদ সুরুজ্জামান, সহকারি অধ্যাপক, তেজগাঁও কলেজ, ঢাকা, ছোনটিয়া।
                </li>
                <li class="list-group-item">
                    ৫. মোহাম্মদ শফিকুল ইসলাম, সহকারি অধ্যাপক, কুমুদিনী সরকারি কলেজ, টাঙ্গাইল, ডোয়াইল পাড়া।
                </li>
                <li class="list-group-item">
                    ৬. মোহাম্মদ আনিছুর রহমান (মাসুদ), হিসাব তত্ত্বাবধায়ক (রাজস্ব), ভূমি মন্ত্রণালয়, ঢাকা, পূর্বপাড়
                    দিঘুলী।
                </li>
                <li class="list-group-item">
                    ৭. মোঃ জালাল উদ্দিন মাসুম, উপ-সহকারি কৃষি কর্মকর্তা (অবঃ), ছোনটিয়া বাজার।
                </li>
                <li class="list-group-item">
                    ৮. মোঃ জাহাঙ্গীর আলম, প্রধান শিক্ষক, মামুন স্মৃতি উচ্চ বিদ্যালয়, ছোনটিয়া বাজার ।
                </li>
                <li class="list-group-item">
                    ৯. মোহাম্মদ আব্দুছ ছালাম, প্রধান শিক্ষক, ছোনটিয়া উচ্চ বিদ্যালয়, ছোনটিয়া, ডোয়াইল পাড়া।
                </li>
                <li class="list-group-item">
                    ১০. একেএম মাহবুবুর রহমান (মহব্বত), এম ডি, ডক্টরস জেনারেল হাসপাতাল, জামালপুর, ছোনটিয়া বাজার।
                </li>
                <li class="list-group-item">
                    ১১. মোঃ ইব্রাহিম হোসেন, সহকারি প্রধান শিক্ষক, মামুন স্মৃতি উচ্চ বিদ্যালয়, ছোনটিয়া বাজার, তারারভিটা।
                </li>
                <li class="list-group-item">
                    ১২. মোহাম্মদ খায়রুল হাসান, সিনিয়র অফিসার, ইষ্টার্ণ ব্যাংক লিঃ, ছোনটিয়া বাজার।
                </li>
                <li class="list-group-item">
                    ১৩. কমলেস চন্দ্র সূত্রধর, শপ সহকারি, ছোনটিয়া উচ্চ বিদ্যালয, ছোনটিয়া।
                </li>
                <li class="list-group-item">
                    ১৪. মোঃ মিজানুর রহমান, কম্পিউটার ডেমোনষ্ট্রেটর, ছোনটিয়া উচ্চ বিদ্যালয, ছোনটিয়া।
                </li>
                <li class="list-group-item">
                    ১৫. মোঃ লোকমান হোসেন, প্রভাষক, রহিমা মোজাফ্ফর গার্লস কলেজ, ডোয়াইল পাড়া।
                </li>
                <li class="list-group-item">
                    ১৬. মোঃ মিজানুর রহমান, অফিসার, সোনালি ব্যাংক লিঃ, মাদারগঞ্জ, জামালপুর, পূর্বপাড় দিঘুলী।
                </li>
                <li class="list-group-item">
                    ১৭. এসএম হায়দার আলী, এজিএম ও অঞ্চল প্রধান, অগ্রণি ব্যাংত লিঃ,শেরপুর অঞ্চল, শেরপুর,গোপিনাথপুর।
                </li>
                <li class="list-group-item">
                    ১৮. মোঃ জয়নাল আবেদীন, সিনিয়র অফিসার, সোনালি ব্যাংক লিঃ, জামালপুর শাখা, গোপিনাথপুর।
                </li>
                <li class="list-group-item">
                    ১৯. মোঃ মোজাম্মেল হক, উপ-সহকারি কৃষি কর্মকর্তা, ধনবাড়ি উপজেলা, ছোনটিয়া বাজার।
                </li>
            </ul>

            <p class="mt-3">
                সভাপতি সকলকে পবিত্র ঈদুল ফিতরের শুভেচ্ছা জানিয়ে সভা শুরু করেন। শুরুতে পরষ্পরের মধ্যে পরিচিতি এবং ঈদের
                শুভেচ্ছা বিনিময় হয়। অতঃপর সভাপতি এ সভা আহবান এবং ঈদপূনর্মিলনী অনুষ্ঠান আয়োজনের পটভূমি বর্ণনা করেন। তিনি
                বলেন যে, জাতীয় ও আঞ্চলিক পর্যায়ে বিভিন্ন পেশাজীবী সংগঠন রয়েছে যা নিজেদের এবং সংশ্লিষ্ট অঞ্চলের জনগণের
                বিভিন্ন সেবায় এবং এলাকার উন্নয়নে ইতিবাচক ভূমিকা পালন করে থাকে। একটি ঐতিহ্যবাহী ইউনিয়ন হিসেবে দিগপাইত
                ইউনিয়নে অন্যান্য পেশাজীবীর পাশাপাশি সরকারি ও বেসরকারি পর্যায়ে বিপুল সংখ্যক চাকুরিজীবী রয়েছেন যাদের মধ্যে
                পারষ্পরিক সম্প্রীতি ও যোগাযোগ স্থাপন, কর্ম অভিজ্ঞতা বিনিময়, এলাকার উন্নয়নে সহযোগিতা, এলাকার বেকারদের
                কর্মসংস্থানে সহায়তা এবং এলাকার জনগণের বিভিন্ন সহায়তা সম্প্রসারণের সুযোগ রয়েছে। এসব সুবিধা গ্রহণ এবং
                সহায়তা প্রদানের লক্ষ্যে একটি প্রাতিষ্ঠানিক ফ্রেইমওয়ার্ক গড়ে তোলা গেলে তা খুবই ফলপ্রসূ ভূমিকা পালন করতে
                পারে মর্মে সভাপতি মন্তব্য করেন। এ প্রেক্ষাপটে সভাপতি উপস্থিত বিভিন্ন পর্যায়ের চাকুরিজীবীদেরকে তাদের ঈদ
                অনুভূতি এবং বক্তব্য ও পরামর্শ উপস্থাপনের অনুরোধ জানান।
            </p>
            <p class="mt-3">
                আলোচনায় অংশগ্রহণ করে সাবেক চেয়ারম্যান জনাব মহব্বত জানান এলাকার চাকুরিজীবীদের এ উদ্যোগ নিঃসন্দেহে সুফল
                বয়ে আনবে এবং তা অন্যদের অনুপ্রেরণা যোগাবে। মোঃ শফিকুল ইসলাম, সহকারি অধ্যাপক, কুমুদিনী কলেজ জানান,
                চাকুরিজীবীদের এ উদ্যোগে তাঁদের ক্যারিয়ার উন্নয়নে সহায়ক হবে এবং এলাকার বেকার যুবকরা তাদের কর্মসংস্থানে
                দিক নির্দেশনামূলক সহায়তা পাবে। তিনি আরও বলেন এর জন্য একটি সাংগঠনিক কাঠামো দরকার এবং সংগঠনের সুনির্দিষ্ট
                পরিচিতি নির্ধারণ করা দরকার। জনাব সুরুজ্জামান , সহকারি অধ্যাপক, তেজগাঁও কলেজ তাঁর বক্তব্যে
                উল্লেখ করেন যে, এ ইউনিয়নের কতিপয় ব্যক্তিত্ব রয়েছেন যাঁরা জাতীয় পর্যায়ে স্ব স্ব ক্ষেত্রে অবদান রেখে
                চলেছেন। এখানে কৃষি, শিল্প, বাণিজ্য, শিক্ষা ও
                আর্থিক ব্যবস্থাপনা ক্ষেত্রে সফল অভিজ্ঞতাসম্পন্ন ব্যক্তিত্ব রয়েছে। এসব ব্যক্তিদের একত্রিত করা গেলে এবং
                তাদের অভিজ্ঞতা শেয়ার করা গেলে যেমন নিজেদের উপকার হবে তেমনি এলাকার এবং এলাকার সকল শ্রেণির মানুষের জন্য
                সহায়তার ক্ষেত্র প্রস্তুত করা সহজতর হবে।
            </p>
            <p class="mt-3">
                ছোনটিয়া উচ্চ বিদ্যালয়ের প্রধান শিক্ষক জনাব আবদুস ছালাম তাঁর বক্তব্যে উল্লেখ করেন যে, এ ইউনিয়নের যে সব
                কৃতি সন্তান পেশাগত জীবনে উল্লেখযোগ্য সাফল্য অর্জন করেছেন তাঁরা যদি সময়ে সময়ে এলাকার শিক্ষা প্রতিষ্ঠানে
                আসেন তাহলে শিক্ষার্থীরা তাঁদের সরাসরি দেখতে পেয়ে অনুপ্রাণিত হবে ; কারণ শিক্ষকগণ পাঠদানকালে অনেক সময়ই
                জীবনে সাফল্য অর্জনকারী এলাকার এসব ব্যক্তিত্বের উদাহরণ দিয়ে থাকেন। সফল ব্যাংকার জনাব এসএম হায়দার আলী এবং
                জনাব সোহরাব আলী তাদের অন্যান্য বক্তব্যের মধ্যে দিগপাইত ইউনিয়নের সকল পর্যায়ের চাকুরিজীবীদের একটি সংগঠন
                গড়ে তোলা, চাকুরিজীবীদের ঠিকানা ও যোগাযোগের নম্বরসহ তালিকা প্রণয়ন করা এবং দু’ঈদের সময় কোন এক জায়গায়
                নিয়মিত সমবেত হওয়ার ব্যবস্থা করার উপর গুরুত্ব আরোপ করেন।
            </p>
            <p class="mt-3">
                সভায় মোহাম্মদ আনিছুর রহমান (মাসুদ), মোঃ জাহাঙ্গীর আলম, প্রধান শিক্ষক, মামুন স্মৃতি উচ্চ বিদ্যালয়, এবং
                অন্যান্যরা বক্তব্য রাখেন। তারা চাকুরিজীবীদের একটি সংগঠন গড়ার প্রতি সমর্থন প্রদানসহ অবসরপ্রাপ্ত
                চাকুরিজীবীদেরকে এ সংগঠনের আওতায় আনার অনুরোধ জানান এবং তাদের জন্য ও অন্যান্যদের জন্য একটি পাঠাগার গড়া
                যেতে পারে মর্মে মন্তব্য করেন। সবশেষে সভাপতি আলোচনায় আবারও অংশ নিয়ে বলেন যে, বাংলাদেশে বর্তমানে সরকারি
                চাকুরীজীবীগণ ৫৮ বছর বয়সে অবসর গ্রহণ করেন। অবসর গ্রহণের পরও যেমন কর্মক্ষমতা থাকে তেমনি তাঁরা বিস্তর
                অভিজ্ঞতাসম্পন্ন হন। এ সময় তাঁদের সম্মানজনক কোন কার্যক্রমে সমন্বিতভাবে সম্পৃক্ত করার বিষয় ভাবা যেতে পারে।
                অর্থাৎ এরুপ সংগঠনের মাধ্যমে যৌথভাবে কোন অর্থনৈতিক কর্মকান্ডে সম্পৃক্ত হওয়ার কথা চিন্তা করা যেতে পারে।
                আমাদের ইউনিয়নে স্থাপিতব্য ইপিজেডকে ঘিরে কোন যৌথ কর্মকান্ডের বিষয় ভাবা যেতে পারে। সভায় বিস্তারিত
                আলোচনান্তে সর্বসম্মতিক্রমে নিমোক্ত সিদ্ধান্ত গৃহিত হয়:
            </p>
            <p class="mt-3">
                <span class="badge bg-blue p-2 mr-2">সিদ্ধান্ত : ১</span> দিগপাইত ইউনিয়নের কর্মরত ও অবসরপ্রাপ্ত
                চাকুরিজীবীদের সমন্বয়ে একটি সংগঠন গড়ে তোলা হবে। এ সংগঠনের একটি সুন্দর নাম দেয়ার জন্য আগামী সভার আগেই এ
                সভার সভাপতির কাছে এসএমএস এর মাধ্যমে সম্ভাব্য/প্রস্তাবিত নাম প্রেরণ করতে হবে।
            </p>
            <p class="mt-3">
                <span class="badge bg-blue p-2 mr-2">সিদ্ধান্ত : ২</span> প্রস্তাবিত সংগঠন সুসংগঠিতকরণ এবং পরিচালনার
                জন্য নিম্ন বর্ণিত এডহক/আহবায়ক কমিটি গঠন করা হয়:
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>আহবায়ক</th>
                                <td>মোঃ ফজলুল হক, অতিরিক্ত সচিব, অর্থ মন্ত্রণালয়</td>
                            </tr>
                            <tr>
                                <th>যুগ্ম আহবায়ক</th>
                                <td>মোঃ জালাল উদ্দিন মাসুম, উপ সহকারি কৃষি কর্মকর্তা (অবঃ)</td>
                            </tr>
                            <tr>
                                <th>নির্বাহী সদস্য</th>
                                <td>এস এম হায়দার আলী, এজিএম ও অঞ্চল প্রধান, অগ্রণী ব্যাংক লিঃ,শেরপুর অঞ্চল</td>
                            </tr>
                            <tr>
                                <th>নির্বাহী সদস্য</th>
                                <td>মোহাম্মদ শফিকুল ইসলাম, সহকারি অধ্যাপক, কুমুদিনী সরকারি কলেজ, টাঙ্গাইল/td>
                            </tr>
                            <tr>
                                <th>নির্বাহী সদস্য</th>
                                <td>মোহাম্মদ আব্দুছ ছালাম, প্রধান শিক্ষক, ছোনটিয়া উচ্চ বিদ্যালয়</td>
                            </tr>
                            <tr>
                                <th>নির্বাহী সদস্য</th>
                                <td>মোহাম্মদ সুরুজ্জামান, সহকারি অধ্যাপক, তেজগাঁও কলেজ</td>
                            </tr>
                            <tr>
                                <th>নির্বাহী সদস্য</th>
                                <td>মোহাম্মদ খায়রুল হাসান, সিনিয়র অফিসার, ইষ্টার্ণ ব্যাংক লিঃ</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h5 class="mt-2">আহবায়কর কমিটির কর্মপরিধি :</h5>
                <ul class="list-group list-group-flush mb-5">
                    <li class="list-group-item">(১) প্রস্তাবিত উদ্যোগটিকে সাংগঠনিক / প্রাতিষ্ঠানিক রুপ দেয়া।</li>
                    <li class="list-group-item">(২) প্রস্তাবিত প্রতিষ্ঠানটিকে আইনগত ভিত্তি দেয়া</li>
                    <li class="list-group-item">(৩) প্রস্তাবিত প্রতিষ্ঠানের যাবতীয় কার্যক্রম পরিচালনা কর</li>
                    <li class="list-group-item">(৪) প্রস্তাবিত প্রতিষ্ঠানের গঠনতন্ত্র প্রণয়ন, অনুমোদন ও তা কার্যকরকরণ
                    </li>
                </ul>
            </p>
            <p class="mt-3">
                <span class="badge bg-blue p-2 mr-2">সিদ্ধান্ত : ৩</span>
                দিগপাইত ইউনিয়নের সরকারি ও বেসরকারি উভয় ধরণের প্রতিষ্ঠানে চাকুরিরত অথবা চাকুরি হতে অবসররত ব্যক্তিগণ
                প্রস্তাবিত প্রতিষ্ঠানের সদস্য হতে পারবেন।
            </p>
            <p class="mt-3">
                <span class="badge bg-blue p-2 mr-2">সিদ্ধান্ত : ৪</span>
                চাকুরিজীবীদের মোবাইল নম্বরসহ নামের তালিকা সংগ্রহের জন্য উপস্থিত সকলকে অনুরোধ করা হয় এবং আহবায়ক বা যুগ্ম
                আহবায়কের মোবাইলে এসএমএস আকারে তা প্রেরণ করার জন্য অনুরোধ করা হয়।
            </p>
            <p class="mt-3">
                <span class="badge bg-blue p-2 mr-2">সিদ্ধান্ত : ৫</span>
                প্রস্তাবিত সংগঠনের খসড়া পরিচিতি নির্ধারণের জন্য জনাব এসএম হায়দার আলী, এজিএম, মোহাম্মদ শফিকুল
                ইসলাম, সহকারি অধ্যাপক এবং মোহাম্মদ আব্দুছ ছালাম, প্রধান শিক্ষক কে দায়িত্ব প্রদান করা হয়। তারা আগামী
                একমাসের মধ্যেই খসড়া লক্ষ্য-উদ্দেশ্য ও কার্যাবলি আহবায়কের ইমেইলে (ভধুষঁ৩৪৪১@মসধরষ.পড়স) প্রেরণ করবেন।
            </p>
            <p class="mt-3">
                <span class="badge bg-blue p-2 mr-2">সিদ্ধান্ত : ৬</span>
                প্রস্তাবিত সংগঠনের পরিচালনা কমিটির কাঠমোর খসড়া প্রণয়ন করে আহবায়কের নিকট দাখিল করার জন্য (১) জনাব মোঃ
                জালাল উদ্দিন মাসুম, উপ-সহকারি কৃষি কর্মকর্তা (অবঃ), (২) একেএম মাহবুবুর রহমান (মহব্বত), ব্যবস্থাপনা
                পরিচালক,ডক্টরস জেনারেল হাসপাতাল এবং (৩) মোঃ মোজাম্মেল হক, উপ-সহকারি কৃষি কর্মকর্তা -কে দায়িত্ব প্রদান
                করা হয়।
            </p>
            <p class="mt-3">
                <span class="badge bg-blue p-2 mr-2">সিদ্ধান্ত : ৭</span>
                আগামী ঈদুল আযহার ছুটির সময় ২য় ঈদের দিন ছোনটিয়া বাজারের মামুন স্মৃতি উচ্চ বিদ্যালয়ে ঈদপূনর্মিলনী ও সাধারণ
                সভা অনুষ্ঠানের ব্যবস্থা করতে হবে।
            </p>
            <p class="mt-3">
                <span class="badge bg-blue p-2 mr-2">সিদ্ধান্ত : ৮</span>
                প্রস্তাবিত প্রতিষ্ঠানের প্রাথমিক তহবিল গড়ে তোলার লক্ষ্যে স্বেচ্ছামূলক আর্থিক সহায়তা প্রদানের জন্য আগ্রহী
                ব্যক্তিদের অনুরোধ করা হয় এবং রসিদ বইয়ের মাধ্যমে এ অর্থ সংগ্রহের জন্য আহবায়ক কমিটিকে দায়িত্ব প্রদান করা
                হয় ।
            </p>
            <p class="mt-3">সবশেষে উপস্থিত সকলকে ধন্যবাদ জানিয়ে সভাপতি সভার সমাপ্তি ঘোষণা করেন।</p>

        </div>
        <div class="intro-right col-md-3">
            <div class="member-login">
                <!-- login -->
                {% include "snippets/member_login.html" %}
            </div>
            <div class="notice-board">
                <!-- notice board -->
                {% include "snippets/notice_board.html" %}
            </div>
        </div>
    </div>

</div>



{% endblock content %}