{% extends 'base.html' %}
{% block title %}My Blog {% endblock %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="intro-main col-md-9">
            <li>
                <strong class="text-light-blue mr-2">প্রতিষ্ঠানের উদ্দেশ্যঃ-</strong> সংগঠন একটি সামাজিক প্রক্রিয়া।
                যেখানে
                একদল
                মানুষ একটি সাংগাঠনিক কাঠামোর
                অন্তভুক্ত
                হয়ে নিদিষ্ট কিছু লক্ষ্য ও উদ্দেশ্য বাস্তবায়নে সর্বদা নিরন্তর। বৃহত্তর চান্দলা প্রবাসী ইসলামি সমাজ
                কল্যাণ
                পরিষদ এর ব্যাতিক্রম নয়। এই পরিষদ একটি অরাজনৈতিক, অলাভজনক, মানবসেবা ও মানব উন্নয়ন মূলক সামাজিক সংগঠন
                ।
                যেখানে
                সমাজের কল্যাণকামী ব্যক্তিগণ একত্রিত হয়েসমাজের অসহায়, গরিব-দুঃখি ও এতিমদের সাহায্য করা ,শিক্ষা
                সচেতনতা,
                শান্তি প্রতিষ্ঠাসহ পারষ্পরিক সহযোগিতা, সহমর্মিতা ও ভ্রাতৃত্বের সেতু স্থাপন তথা আদর্শ সমাজ জীবন গড়ে
                তোলার
                দৃঢ়
                প্রত্যয়ে সামাজিক, উন্নয়নশীল ও উন্নয়নমূলক স্বেচ্ছাসেবী সংগঠন হিসেবে এই পরিষদের আত্মপ্রকাশ, যা মানুষ ও
                মানবতার
                সেবায় অঙ্গীকারবদ্ধ। আপনিও যদি হাতে হাত রেখে, কাধে কাধ মিলিয়ে মানবসেবা ও মানব উন্নয়নমূলক সামাজিক
                কর্মকান্ডে
                অংশগ্রহণ করেতে চান যোগ দিন আমাদের সাথে, যোগ দিন বৃহত্তর চান্দলা প্রবাসী ইসলামি সমাজ কল্যাণ পরিষদে।
            </li>
            <li class="mt-3">
                <strong class="text-light-blue mr-2">প্রতিষ্ঠানের লক্ষ্যঃ</strong> বৃহত্তর চান্দলা প্রবাসী ইসলামি সমাজ
                কল্যাণ
                পরিষদের লক্ষ্য হচ্ছে অসহায় ও দরিদ্র
                মানুষের সেবার মাধ্যমে একটি সুন্দর ও সুখী সমাজ গড়ে তোলা। যে সমাজে থাকবে না অসহায় মানুষের আর্তনাদ, আর্থিক
                অভাবের কারনে স্কুল পড়ুয়া ছাত্র-ছাত্রীদের ঝরে পড়া এবং চিকিৎসার অভাবে অকাল মৃত্যু। অর্থাৎ, সমাজের অসহায় ও
                দরিদ্র মানুষেরদেরকে সার্বিক সহযোগিতা করা, কুরআন শিক্ষার বিস্তারের মাধ্যমে সমাজে কুরআনের আলো ছড়িয়ে
                দেয়া।
                এছাড়াও সমাজ থেকে দারিদ্রতা দূরীকরণের লক্ষ্যে বেকার যুবক ও বিধবা মহিলাদের কর্মসংস্থান গড়ে তোলা। সর্বোপরী,
                নিঃস্বার্থ মানব সেবার মাধ্যমে সমাজ থেকে বৈষম্য দূরীকরণ তথা সমাজে শান্তি ও ন্যায় প্রতিষ্ঠা করাই এই
                পরিষদের
                লক্ষ্য।
            </li>
        </div>
        <div class="intro-right col-md-3">
            <div class="member-login">
                <!-- login -->
                {% include "snippets/member_login.html" %}
            </div>
            <div class="notice-board">
                <!-- notice board -->
                {% include "snippets/notice_board.html" %}
            </div>
            <div class="visitor-count">
                <!-- visitor count -->
                {% include "snippets/visitor_count.html" %}
            </div>
        </div>
    </div>

</div>



{% endblock content %}