{% extends 'base.html' %}
{% block title %}Election {% endblock %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="intro-main col-md-9">
            <h4 class="text-center">নির্বাচন পরিষদ</h4>
            <hr>
            <div class="card mt-5">
                <div class="card-body">
                    {% if not request.user.is_authenticated %}
                    <div class="alert alert-danger" role="alert">
                        Please login to vote.
                    </div>
                    {% endif %}

                    {% if elections %}
                    <h5>Running Elections</h5>
                    <ul class="list-group list-group-flush mt-4"></ul>
                    {% for election in elections %}
                    <li class="list-group-item">
                        <h4>{{ election.name }}</h4>
                        <a class="btn blue-btn" href="{% url 'election_details' election.pk %}">Vote Now</a>
                    </li>
                    {% endfor %}
                    {% else %}
                    <h4 class="text-danger">No election.</h4>
                    {% endif %}
                </div>
            </div>

        </div>
        <div class="intro-right col-md-3">
            <div class="member-login">
                <!-- login -->
                {% include "snippets/member_login.html" %}
            </div>
            <div class="notice-board">
                <!-- notice board -->
                {% include "snippets/notice_board.html" %}
            </div>
            <div class="visitor-count">
                <!-- visitor count -->
                {% include "snippets/visitor_count.html" %}
            </div>
        </div>
    </div>

</div>



{% endblock content %}