{% extends 'base.html' %}
{% block title %}My Blog {% endblock %}
{% load static %}

{% block content %}

<div class="container-fluid">
    {% comment %} main content {% endcomment %}
    <div class="row">
        <div class="intro-main col-9">
            <!-- <input type="text" placeholder="Search here..." class="form-control mb-4"> -->
            <div class="card mb-5">
                <div class="card-body">
                    <!-- <table class="table table-striped table-bordered">
                        <thead class="bg-navy-blue text-white">
                            <tr>
                                <th>ক্রমিক নং</th>
                                <th>নাম</th>
                                <th>পেশা</th>
                                <th>পদবী ও কর্মস্থল</th>
                                <th>চাকরির ধরন</th>
                                <th>জেলা</th>
                                <th>মোবাইল নম্বর</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>১</td>
                                <td>মোঃ জালাল উদ্দিন মাসুম</td>
                                <td>কৃষি কর্মকর্তা</td>
                                <td>উপসহকারী কৃষি কর্মকর্তা (অবঃ)</td>
                                <td>সরকারি</td>
                                <td>দিগপাইত</td>
                                <td>01713591870</td>
                            </tr>
                        </tbody>
                    </table> -->
                </div>
            </div>
        </div>
        <div class="intro-right col-3">
            <div class="member-login">
                <!-- login -->
                {% include "snippets/member_login.html" %}
            </div>
            <div class="notice-board">
                <!-- notice board -->
                {% include "snippets/notice_board.html" %}
            </div>
            <div class="visitor-count">
                <!-- visitor count -->
                {% include "snippets/visitor_count.html" %}
            </div>
        </div>
    </div>

</div>



{% endblock content %}